<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t(:mailchimp_settings) %></h1>

<table data-hook="preferences">
  <% @preferences.each do |key| %>
  <tr>
    <th scope="row"><%= t(key) %>:</th>
    <td><%= @config[key] %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_mail_chimp_settings_path %></p>